others/
checkpoints/
log_folder
algorithm_logs/*
hyperparameters.txt
__pycache__
Weights
Model
database/*
.DS_Store
.idea
.__pycache__
.vscode
.venv/
depth_exp/*
25_*/*
results/*
slurm-*.out
*.slurm
prova.py
*.keras
gesture/*
*.h5
test_gesture/*